Mail.json
[{"id":"f2c74e04.54c84","type":"e-mail","z":"eba00900.a0b688","server":"smtp.gmail.com","port":"465","name":"","dname":"Mail","x":443.5,"y":367,"wires":[]},{"id":"31e80bc3.9e31d4","type":"function","z":"eba00900.a0b688","name":"SetData","func":"\n\nmsg = {\n    payload:msg.payload,\n    topic:\"Title Test\",\n    to:\"xxxx@mail.com\",\n};\nreturn msg","outputs":1,"noerr":0,"x":290,"y":338,"wires":[["f2c74e04.54c84"]]},{"id":"60d58.0e8112a9","type":"inject","z":"eba00900.a0b688","name":"","topic":"","payload":"content","payloadType":"str","repeat":"","crontab":"","once":false,"x":148,"y":209,"wires":[["31e80bc3.9e31d4"]]}]
